GOOGLE_CLOUD_VISION_API_KEY=
OCR_PROVIDER=google-vision
OCR_GOOGLE_PRIMARY_FEATURE=TEXT_DETECTION
OCR_GOOGLE_SECONDARY_FEATURE=DOCUMENT_TEXT_DETECTION
OCR_GOOGLE_PRIMARY_MIN_CHARS=12
OCR_GOOGLE_LANGUAGE_HINTS=en
OCR_CONCURRENCY=2
OCR_LIMIT=
OCR_FORCE=0
WORKBOOK_PATH=/Users/tbnalfaro/Downloads/chatgptricks_posts.xlsx
VITE_API_BASE=https://cortex-api-db2e.onrender.com
